html, body {
  font-family: Roboto;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footerZ {
	background: #f7f7f7;
}


#footerZ a {
  color: #333;
  text-decoration: none;
}

#footerZ .sublink {
  margin-left: 20px;
}

#footerZ a:hover {
  color: black;
}

#footerZ table {
  width: 100%;
}

#footerZ [class*="col"] {
  text-align: left;
}

@media (max-width: 960px) {
  #footerZ [class*="col"] {
    text-align: center;
  }

  #footerZ .sublink {
    margin-left: 0px;
  }
}

/* title in mobile nav */
@media (max-width: 992px) {
  #logo .title {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* GALLERY SLIDER */
.gallery-slider-wrapper .gallery-slider-inner{
  white-space: nowrap;
  width: auto;
  height: 300px;
  display: block;
  position: relative;
}

.gallery-slider-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.gallery-slider-control {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.gallery-slider-control .control-left {
  left: 0;
  position: absolute;
}

.gallery-slider-control .control-right {
  left: 100%;
  position: absolute;
}